.blockButton {
  all: unset;
  width: 15vw;
  height: 15vw;
  background-color: aqua;
}

tr th {
  margin: 0;
}

.layer {
  margin-bottom: 1rem;
}

body {
  background-color: gray;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.actionElements {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.resetBtn {
  all: unset;
  text-align: center;
  font-size: 2.5rem;
  width: 100%;
  background-color: crimson;
  margin: 2px;
}

.resetBtn:hover {
  box-shadow: 0 0 3px black;
  transition: 0.5s;
}

.playerTurn {
  text-align: center;
  font-size: 2.5rem;
  width: 100%;
}

.howtolink {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  margin: 2px;
  background-color: aqua;
}

.howtolink:hover {
  box-shadow: 0 0 3px black;
  transition: 0.5s;
}

@media only screen and (min-width: 600px) {
  .blockButton {
    width: 9vw;
    height: 9vw;
  }
}

@media only screen and (min-width: 800px) {
  .blockButton {
    width: 8vw;
    height: 8vw;
  }
}

@media only screen and (min-width: 900px) {
  .blockButton {
    width: 5vw;
    height: 5vw;
  }
}
